<div class="row">
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Lawful good</h1>
      <p class="character-thumbnail">
        <img title="Lawful good" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Neutral good</h1>
      <p class="character-thumbnail">
        <img title="Neutral good" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Chaotic good</h1>
      <p class="character-thumbnail">
        <img title="Chaotic good" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Lawful neutral</h1>
      <p class="character-thumbnail">
        <img title="Lawful neutral" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>True neutral</h1>
      <p class="character-thumbnail">
        <img title="True neutral" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Chaotic neutral</h1>
      <p class="character-thumbnail">
        <img title="Chaotic neutral" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Lawful evil</h1>
      <p class="character-thumbnail">
        <img title="Lawful evil" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Neutral evil</h1>
      <p class="character-thumbnail">
        <img title="Neutral evil" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
  <div class="character-wrapper col-md-4 col-sm-12 shifted centered">
    <div class="character">
      <h1>Chaotic evil</h1>
      <p class="character-thumbnail">
        <img title="Chaotic evil" src="https://cdn.glitch.com/0cecf23c-e373-4cc6-abf5-52b30b1359cb%2Flawful-evil.png?1503511240061"></p>
      <p class="character-description">Description</p>
    </div>
  </div>
</div>
